#container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#img-one {
  height: 400px;
  width: 50%;
}

#img-two{
  height: 400px;
  width: 50%;
}


#img-three{
  height: 400px;
  width: 50%;
}

#show-results-btn {
  font-weight: bold;
  font-size: large;
  background-color: aqua;
  width: fit-content;
  
}
#show-result-list {
  background-color: rgba(158, 60, 114, 0.788);
  width: fit-content;
  margin: 5px;
}

#show-result-list li {
  margin: 2px;
  color: #fff;
}